<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
<ap:Properties xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><ap:Application>PPTrans demo generator</ap:Application><ap:PresentationFormat>Widescreen</ap:PresentationFormat><ap:Slides>3</ap:Slides><ap:Notes>0</ap:Notes><ap:HiddenSlides>0</ap:HiddenSlides><ap:SharedDoc>false</ap:SharedDoc><ap:DocSecurity>0</ap:DocSecurity></ap:Properties>
